body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
  text-align: center;
  width: 300px; /* Set a width */
}
#about {
  text-align: left;
  font-size: 14px;
}

#about p {
  margin: 0;
  line-height: 1.5;
}